<nav class="bg-gray-800 p-4 shadow-lg">
    <ul class="flex space-x-4">
        <li>
            <a routerLink="/home" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/centro-medico" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Centros Medicos
            </a>
        </li>
        <li>
            <a routerLink="/especialidades" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Especialidades
            </a>
        </li>
        <li>
            <a routerLink="/medicos" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Médicos
            </a>
        </li>
        <li>
            <a routerLink="/paciente" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Pacientes
            </a>
        </li>
        <li>
            <a routerLink="/citas" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Citas
            </a>
        </li>
        <li>
            <a routerLink="/consultas" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Consultas
            </a>
        </li>
        <li>
            <a routerLink="/diagnosticos" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Diagnósticos
            </a>
        </li>
        <li>
            <a routerLink="/tratamientos" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Tratamientos
            </a>
        </li>
        <li>
            <a routerLink="/recetas" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Recetas
            </a>
        </li>
        <li>
            <a routerLink="/medicamentos" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
                Medicamentos
            </a>
        </li>
    </ul>
</nav>
